/* App Fonts */

@font-face {
  font-family: "TTNorms";
  src: url("./fonts/TTNorms-Regular.otf") format("openType");
}
@font-face {
  font-family: "TTNorms Medium";
  src: url("./fonts/TTNorms-Medium.otf") format("openType");
}
@font-face {
  font-family: "TTNorms Light";
  src: url("./fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
  font-family: "Times Roman Italic";
  src: url("./fonts/Times-new-roman-italic.ttf") format("truetype");
}
/* Normalize Css */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0; /* 3 */
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Start Project */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "TTNorms";
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
.main {
  flex: 1;
}
/* header */
.header {
  background-image: url(./images/Header-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.header-wrapper {
  margin: 2rem 0rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.nav {
  color: black;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 2rem;
}
.nav-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav-logo-text {
  font-size: 1.6rem;
}
.nav-logo-round {
  width: 0.3rem;
  height: 0.3rem;
  background: red;
  border-radius: 10rem;
  margin: 0.8rem 0.4rem 0 0.4rem;
}
.nav-toggle-div {
  display: none;
}
.bigger-icon {
  font-size: 32px;
}

.nav-menu {
  padding-left: 0;
  display: flex;
  list-style-type: none;
  font-size: 1.2rem;
}
.nav-manu-item {
  list-style: none;
  margin: 0 2rem;
}
#nav-menu-home {
  margin-left: 0;
}
.nav-menu a {
  text-decoration: none;
  color: black;
}
.nav-menu a:hover {
  color: red;
  cursor: pointer;
}

.nav-reserve-link {
  text-decoration: none;
  background-color: red;
  color: #fff !important;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  outline: 0;
  transition: 0.4s;
  border-radius: 0.5rem;
}
.nav-reserve-link:hover {
  cursor: pointer;
  background-color: rgb(124, 86, 86);
}

/* head/nav-bottom */
/* Animation*/

.nav-bottom {
  margin: 22rem 0;
  /* why */
}

#slideset div {
  max-width: 70%;
  top: 18rem;
  position: absolute;
  left: 2rem;
}
#slideset > * {
  visibility: hidden;
  animation: 18s autoplay infinite;
}
@keyframes autoplay {
  0% {
    visibility: visible;
  }
  33% {
    visibility: hidden;
  }
}
#slideset > *:nth-child(1) {
  animation-delay: 0s;
}
#slideset > *:nth-child(2) {
  animation-delay: 6s;
}
#slideset > *:nth-child(3) {
  animation-delay: 12s;
}

#slideset p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}
#slideset h1 {
  color: #fff;
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
}

.nav-bottom-link {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem 2rem;
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: normal;
  background-color: red;
  border-radius: 0.5rem;
  transition: 0.4s all;
  border: none;
}
.nav-bottom-link:hover {
  background-color: #fff;
  color: black;
}
/* MAIN main main */
/* Story (About)*/
#hidden-p {
  opacity: 0;
  margin: 0rem 0rem 5rem;
}
.about {
  display: flex;
  align-items: center;
  margin: 0rem 2rem;
}
.about-content-left {
  flex: 0 0 50%;
}
.about-content-left-box {
  max-width: 40rem;
}
.about-content-left-box span {
  color: #9e9e9e;
  font-size: 1rem;
  font-weight: bold;
}
.about-content-left-box p {
  color: #9e9e9e;
  line-height: 1.8rem;
  font-size: 1.2rem;
}
.about-content-right {
  flex: 0 0 50%;
  max-width: 46rem;
}
.about-content-right img {
  width: 100%;
}
/* Main-meet-our-chefs */
/* Main-meet-our-chefs */
.meet {
  background-color: #f7f3f3;
  padding: 4rem 2rem 0rem;
}

.meet-text-section {
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
}
.meet-text-section p {
  color: #9e9e9e;
  font-size: 0.8rem;
  margin: 2rem 2rem 4rem 2rem;
  font-weight: bold;
}
.chefs {
  display: flex;
  justify-content: space-between;
}
.chef {
  flex-basis: 28rem;
}
.team-hover {
  position: relative;

  /* height: 30.2rem; */
}
.team-hover img {
  width: 100%;
  height: 100%;
  transition: all 1.5s;
}
.team-hover:hover img {
  transform: scale(1.2);
}
.team-hover-div-img {
  overflow: hidden;
}
.team-item {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 1.5s;
}

.team-hover:hover .team-item {
  background-color: #2e2e2e;
  opacity: 0.8;
  /* transform: translateY(0); */
}
.social-icon {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 0;
}
.social-icon-div {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100rem;
  background-color: #424242;
  margin: 0.5rem;
  padding: 0.5rem 0.3rem 0rem 0.6rem;
}

.team-item h4 {
  font-size: 1.6rem;
  padding: 16rem 3.5rem 0rem 3.5rem;
  margin: 0;
  color: #fff;
}
.envelope-1 {
  color: #fff;
  display: flex;
  align-items: center;
}
.linkedin-1 {
  color: #fff;
  display: flex;
  align-items: center;
}

.social-icon-div:hover {
  background-color: red;
}
.team-hover-name {
  text-align: center;
}
.team-hover-name p {
  color: #9e9e9e;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem;
}

/* main-ourmenus */
.menus {
}
.foodmenu {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.dishes {
  position: relative;

  flex-basis: 33.33%;
  max-height: 24rem;
}

.dishes-div-image {
  /* overflow: hidden; For make bigger the foto*/

  height: 100%;
}
.dishes-div-image img {
  width: 100%;
  height: 100%;
  transition: 0.8s all;
}
.dishes-hover {
  display: flex;
  transition: 0.8s all;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 35%;
  transform: translatey(-100%);
  opacity: 0;
  padding: 1rem;
  color: #fff;
}
.dishes:hover .dishes-hover {
  opacity: 0.8;
  background-color: #2e2e2e;
  /* transform: translatey(0); */
}
.dishes:hover {
  cursor: pointer;
}
.dishes:hover img {
  /* transform: scale(1.2); */
}
.dishes-div-image {
}

.dishes-text2 h5 {
  margin: 0;
  font-size: 1.6rem;
}
.dishes-text2 p {
  font-size: 0.8rem;
  font-weight: bold;
}
.dishes-text1 {
  font-size: 1.6rem;
  font-weight: bold;
}

/* footer */
#contact {
  background-color: #f7f3f3;
}

.footer-wrapper {
  margin: 6rem 2rem 2rem;
}
.footer-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
}
.footer-up-line {
  border-bottom: 1px solid grey;
}

.iFrame {
  flex-basis: 48.5%;
  width: 5rem;
  height: 20rem;
}
.footer-up-form {
  flex-basis: 48.5%;
}
.footer-up-form h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 0rem;
}

.input {
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #9e9e9e;
  border-radius: 2px;
  padding: 0 5px;
}
.radio-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
/* .radio-buttons input[type="radio"]:checked + label i {
  color: red !important;
} */
.form-label {
  font-size: 1.2rem;
}
.form-label-item {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
#name {
  width: 70%;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid lightgray;
}
#Email {
  width: 70%;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid lightgray;
}

#footer-up-link {
  width: 100%;
  text-align: center;
  background-color: red;
  display: block;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  font-weight: bold;
  margin-top: 0.8rem;
}
/* Footer-bottom */
.footer-bottom {
  padding: 2rem;
}
.footer-bottom-boxes {
  display: flex;
  flex-wrap: wrap;
  height: 20rem;
  justify-content: space-between;
  /* align-items: center; */
}
.footer-bottom-box1 {
}
.footer-bottom-box1 h2 {
  font-size: 1.6rem;
}
.footer-bottom-box1 p {
  line-height: 2rem;
  font-size: 1.2rem;
  color: #6c6c6c;
}
.footer-bottom-box3 {
  background-image: url("./images/footer-open-hour-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 0.8rem;
  position: relative;
  flex-basis: 25%;

  color: #fff;
}

.background {
  background-color: #212121;
  position: absolute;
  transform: translateY(0);
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  opacity: 0.8;
  border-radius: 0.9rem;
}

.footer-bottom-box3 h2 {
  font-size: 1.6rem;
  font-weight: bold;
  border-bottom: 1px solid white;
}

.footer-bottom-box3 {
  font-size: 1.2rem;
  font-weight: bold;
}
#closed {
  color: red;
}
.footer-bottom-box4 {
}
.socialmedia {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.socialmedia li {
  list-style-type: none;
}
.socialmedia li a {
  padding: 1rem;
  color: red;
}
.footer-bottom-box4 p {
  font-size: 1.2rem;
  color: #6c6c6c;
}
.footer-bottom-box4 a {
  text-decoration: none;
  color: #6c6c6c;
}
.footer-bottom-box4 a:hover {
  color: red;
}

/* Project Responsive */
/* Media query: large or landscape phones (1200px and down) */
@media only screen and (max-width: 1200px) {
  /* header */
  .nav-content {
    flex-wrap: wrap;
  }
  .nav-manu-item {
    margin: 0 0.8rem;
  }
  .nav-reserve-link {
    padding: 0.5rem 1rem;
  }
  /* main-menu */
  .dishes-hover {
    padding: 1rem;
  }
  .dishes-text2 h5 {
    font-size: 1.4rem;
  }
  .dishes-text2 p {
    margin: 0.6rem 0rem;
    font-size: 0.8rem;
  }
  .dishes-text1 {
    font-size: 1.5rem;
  }
  /* footer-bottom */
  .footer-bottom-box3 h2 {
    font-size: 1.6rem;
  }
  .background p {
    font-size: 1rem;
  }
}
/* Media query: large or landscape phones (992px and down) */
@media only screen and (max-width: 992px) {
  /* Header */
  /* main-about */
  .about {
    flex-direction: column;
  }
  /* main-meet-chef */
  .team-item h4 {
    font-size: 1.4rem;
    padding: 10rem 3.5rem 0rem 3.5rem;
  }
  /* Main-menu */
  .dishes {
    flex-basis: 50%;
  }

  .dishes-text2 p {
    margin: 0.6rem 0rem;
    font-size: 0.8rem;
  }
  .dishes-text1 {
    font-size: 2rem;
  }
  /* footer-bottom */
  .footer-bottom {
    padding: 2rem 2rem 12rem;
  }

  .footer-bottom-box1 h2 {
    font-size: 1.4rem;
  }
  .footer-bottom-box1 p {
    font-size: 1rem;
  }
  .footer-bottom-box1,
  .footer-bottom-box4 {
    flex-basis: 48%;
  }

  .footer-bottom-box3 {
    height: 17rem;
    flex-basis: 48%;
  }
  .socialmedia {
    justify-content: flex-start;
  }
  .footer-bottom-box4 p {
    font-size: 0.8rem;
  }
}

/* Media query: large or landscape phones (768px and down) */
@media only screen and (max-width: 768px) {
  /* for when press the navbar we aere going
   directly to pages but in small device */
  /* Header */
  #hidden-p {
    opacity: 0;
    margin: 0rem;
  }
  /* Header */
  .nav-content {
    margin: 0 1rem;
  }
  .nav-toggle-div {
    display: block;
    position: relative;
    cursor: pointer;
  }
  .nav-menu {
    position: fixed;
    top: 5rem;
    left: -195.2px;
    bottom: 0;
    background: rgb(222 215 222);
    width: 12.2rem;
    flex-direction: column;
    padding: 2rem 1rem;
    margin: 0;
    transition: 0.3s all;
  }
  .nav-manu-item {
    margin-bottom: 2rem;
    font-size: 1rem;
  }
  #nav-menu-home {
    margin-left: 1rem;
  }
  /* header bottom */

  .nav-bottom-link {
    padding: 1rem;
  }
  /* main-meet-chef */
  .meet-text-section {
    font-size: 1rem;
  }
  .team-item h4 {
    font-size: 1.2rem;
    padding: 6rem 1.5rem 0rem 1.5rem;
  }
  .team-hover-name h1 {
    font-size: 1.2rem;
  }
  .team-hover-name p {
    font-size: 0.8rem;
  }
  /* main-menu */
  .dishes-hover {
    padding: 0.4rem;
  }

  .dishes-text2 p {
    margin: 0.6rem 0rem;
    font-size: 0.8rem;
  }
  .dishes-text1 {
    font-size: 1.4rem;
  }
}
/* Media query: large or landscape phones (576px and down) */
@media only screen and (max-width: 576px) {
  /* Header */
  /* header bottom */
  #slideset div {
    max-width: 100%;
    left: 1rem;
  }
  #slideset p {
    font-size: 1rem;
  }
  #slideset h1 {
    font-size: 2.5rem;
  }
  /* main-meet-chef */
  .chefs {
    flex-direction: column;
  }
  .meet-text-section {
    font-size: 1rem;
  }
  .team-item h4 {
    font-size: 1.6rem;
    padding: 18rem 6rem 0rem 6rem;
  }
  .team-hover-name h1 {
    font-size: 2rem;
  }
  /* main-menu */
  .dishes {
    flex-basis: 100%;
  }
  .dishes-hover {
    padding: 1rem;
  }
  .dishes-text2 h5 {
    font-size: 1.6rem;
  }

  .dishes-text1 {
    font-size: 1.4rem;
  }
  /* footer-up */
  .footer-up {
    margin-bottom: 3rem;
  }
  .iFrame {
    flex-basis: 100%;
    margin-bottom: 2rem;
  }
  .footer-up-form {
    flex-basis: 100%;
  }
  /* footer-bottom */
  .footer-bottom {
    padding: 2rem 2rem 28rem;
  }
  .footer-bottom-box1,
  .footer-bottom-box4,
  .footer-bottom-box3 {
    flex-basis: 100%;
  }
}

/* Media query: large or landscape phones (370px and down) */
@media screen and (max-width: 370px) {
  /* Main-story(about) */
  .about {
    margin: 2rem;
  }
  .about-content-left-box h1 {
    font-size: 1.4rem;
    margin: 0;
  }
  .about-content-left-box span {
    font-size: 0.8rem;
  }
  .about-content-left-box p {
    font-size: 1rem;

    line-height: 1rem;
    margin-top: 0;
  }
  /* main-meet-chefs*/
  .meet {
    margin: 0rem;
    padding: 2rem 2rem 0rem;
  }
  .meet-text-section h1 {
    font-size: 1.6rem;
    margin: 0;
  }
  .meet-text-section p {
    margin: 2rem;
  }
  .team-hover-name h1 {
    font-size: 1.4rem;
  }
  .team-item h4 {
    font-size: 1.2rem;
    padding: 8rem 1rem 0rem;
  }
  /* main-menu */

  .dishes-hover {
    padding: 0.4rem;
  }
  .dishes-text2 h5 {
    font-size: 1.2rem;
  }
  .dishes-text2 p {
    font-size: 0.6rem;
  }
  .dishes-text1 {
    font-size: 1.2rem;
  }
  /* footer */
  /* footer-up */
  .footer-wrapper {
    margin: 2rem;
  }
  .iFrame {
    flex-basis: 100%;
    height: 10rem;
  }
  .footer-up-form h1 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .form-label {
    font-size: 1rem;
  }
  .footer-up-form {
    flex-basis: 100%;
  }
  /* footer-bottom */
  .footer-bottom {
    padding: 2rem 2rem 16rem;
  }
  .footer-bottom-box1 h2 {
    font-size: 1.2rem;
    margin: 0;
  }
  .footer-bottom-box1 p {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .footer-bottom-box3 {
    height: 14rem;
  }
  .footer-bottom-box3 h2 {
    font-size: 1.2rem;
  }
  .footer-bottom-box3 p {
    margin-bottom: 0;
    font-size: 0.8rem;
  }
}
