/* App Fonts */

@font-face {
  font-family: "TTNorms";
  src: url("./fonts/TTNorms-Regular.otf") format("openType");
}
@font-face {
  font-family: "TTNorms Medium";
  src: url("./fonts/TTNorms-Medium.otf") format("openType");
}
@font-face {
  font-family: "TTNorms Light";
  src: url("./fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
  font-family: "Times Roman Italic";
  src: url("./fonts/Times-new-roman-italic.ttf") format("truetype");
}
/* Normalize Css */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0; /* 3 */
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Start Project */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "TTNorms";
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
.main {
  flex: 1;
}
/* header */
.header {
  background-image: url(./images/Header-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.header-wrapper {
  margin: 2rem 0rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.nav {
  color: black;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 2rem;
}
.nav-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav-logo-text {
  font-size: 1.6rem;
}
.nav-logo-round {
  width: 0.3rem;
  height: 0.3rem;
  background: red;
  border-radius: 10rem;
  margin: 0.8rem 0.4rem 0 0.4rem;
}
.nav-toggle-div {
  display: none;
}
.bigger-icon {
  font-size: 32px;
}

.nav-menu {
  padding-left: 0;
  display: flex;
  list-style-type: none;
  font-size: 1.2rem;
}
.nav-manu-item {
  list-style: none;
  margin: 0 2rem;
}
.nav-menu a {
  text-decoration: none;
  color: black;
}
.nav-menu a:hover {
  color: red;
}

.nav-reserve-link {
  text-decoration: none;
  background-color: red;
  color: #fff !important;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  outline: 0;
  transition: 0.4s;
  border-radius: 0.5rem;
}
.nav-reserve-link:hover {
  cursor: pointer;
  background-color: rgb(124, 86, 86);
}

/* head/nav-bottom */
/* Animation*/

.nav-bottom {
  margin: 22rem 0;
  /* why */
}

#slideset div {
  max-width: 70%;
  top: 18rem;
  position: absolute;
  left: 2rem;
}
#slideset > * {
  visibility: hidden;
  animation: 18s autoplay infinite;
}
@keyframes autoplay {
  0% {
    visibility: visible;
  }
  33% {
    visibility: hidden;
  }
}
#slideset > *:nth-child(1) {
  animation-delay: 0s;
}
#slideset > *:nth-child(2) {
  animation-delay: 6s;
}
#slideset > *:nth-child(3) {
  animation-delay: 12s;
}

#slideset p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}
#slideset h1 {
  color: #fff;
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
}

.nav-bottom-link {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem 2rem;
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: normal;
  background-color: red;
  border-radius: 0.5rem;
  transition: 0.4s all;
  border: none;
}
.nav-bottom-link:hover {
  background-color: #fff;
  color: black;
}

/* Project Responsive */
/* Media query: large or landscape phones (1200px and down) */
@media only screen and (max-width: 1200px) {
  .nav-content {
    flex-wrap: wrap;
  }
  .nav-manu-item {
    margin: 0 0.8rem;
  }
  .nav-reserve-link {
    padding: 0.5rem 1rem;
  }
}
/* Media query: large or landscape phones (992px and down) */
@media only screen and (max-width: 992px) {
  /* Header */
}
/* Media query: large or landscape phones (768px and down) */
@media only screen and (max-width: 768px) {
  /* Header */
  .nav-content {
    margin: 0 1rem;
  }
  .nav-toggle-div {
    display: block;
    position: relative;
    cursor: pointer;
  }
  .nav-menu {
    position: fixed;
    top: 5rem;
    left: -195.2px;
    bottom: 0;
    background: rgb(222 215 222);
    width: 12.2rem;
    flex-direction: column;
    padding: 2rem 1rem;
    margin: 0;
    transition: 0.3s all;
  }
  .nav-manu-item {
    margin-bottom: 2rem;
    font-size: 1rem;
  }
  /* header bottom */

  .nav-bottom-link {
    padding: 1rem;
  }
}
/* Media query: large or landscape phones (576px and down) */
@media only screen and (max-width: 576px) {
  /* Header */
  /* header bottom */
  #slideset div {
    max-width: 100%;
    left: 1rem;
  }
  #slideset p {
    font-size: 1rem;
  }
  #slideset h1 {
    font-size: 2.5rem;
  }
}
/* Media query: large or landscape phones (370px and down) */
@media screen and (max-width: 370px) {
  /* Header */
}
